<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>10-frame-debugging.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>40B3311727EDA0F30029F74E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71A9C07E27349DCE00932563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71A9C09827349E9000932563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71A9C0B127349FE900932563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71A9C0CA2734A09B00932563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71A9C0E32734A10200932563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71A9C0FC2734A17800932563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71A9C1152734A20200932563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71A9C12E2734A2A000932563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71A9C1472734A2F200932563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71A9C1602734A37800932563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71A9C1792734A3EF00932563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
